/* NAVBAR MOBILE PLUSMARKET */

.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    background: #6BCB77;
    /* verde elegante */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.mobile-logo img {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    object-fit: contain;
}

.mobile-cart {
    font-size: 28px;
    color: white;
    text-decoration: none;
    position: relative;
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -12px;
    background: #4E9F3D;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}